<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

    <!-- base:css -->

    <link rel="stylesheet" href="./vendors/typicons/typicons.css">
    <link rel="stylesheet" href="./vendors/css/vendor.bundle.base.css">
    <!-- endinject -->

    <!-- custom css file cdn link  -->
    <link rel="stylesheet" href="./css/style.css">

    <!-- inject:css -->
    <link rel="stylesheet" href="./css/vertical-layout-light/style.css">
    <!-- endinject -->
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico" />

</head>
<body>
    <!-- header section starts  -->

    <header class="header">

        <a href="/" class="logo"> <i class="fas fa-utensils"></i> F&D Zone </a>

        <form action="" class="search-form">
            <input type="search" name="" placeholder="search here..." id="searchBox">
            <label for="searchBox" class="fas fa-search"></label>
        </form>

        <div class="icons">
            <div class="fas fa-search" id="search-btn"></div>
            <a href="/login"><div class="fas fa-user" id="login-btn">
                
            </div></a>
            <div class="fas fa-bars" id="menu-btn"></div>
        </div>
        
        <nav class="navbar">
            <a href="/">home</a>
            <a href="#packages">packages</a>
            <a href="#services">services</a>
            <a href="#pricing">pricing</a>
            <a href="#review">review</a>
            <a href="#contact">contact</a>
            <a href="#blogs">blogs</a>
        </nav>
    </header>

    <!-- header section ends -->
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    <main>
        <%- body -%>
    </main>  
    <script src="./vendors/js/vendor.bundle.base.js"></script>
    <!-- inject:js -->
    <script src="./js/off-canvas.js"></script>
    <script src="./js/hoverable-collapse.js"></script>
    <script src="./js/template.js"></script>
    <script src="./js/settings.js"></script>
    <script src="./js/todolist.js"></script>
    <script src="./js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>