<H1>Hello F&D shop</H1>
<H1>Hello F&D shop</H1>
<H1>Hello F&D shop</H1>
<H1>Hello F&D shop</H1>
<H1>Hello F&D shop</H1>
<H1>Hello F&D shop</H1>
<H1>Hello F&D shop</H1>
<H1>Hello F&D shop</H1>
<% if(users != '') { %>
    <% users.forEach(function(user, index){ %>
        <div class="pt-1">1<%- user.email  %></div>
    <% }) %>
<% } %>    