<div class="container-scroller">
  <div class="container-fluid page-body-wrapper full-page-wrapper">
    <div class="content-wrapper d-flex align-items-center auth px-0">
      <div class="row w-100 mx-0">
        <div class="col-lg-4 mx-auto">
          <div class="auth-form-light text-left py-5 px-4 px-sm-5">
            <h1>Hello! let's get started</h1>
            <h3 class="font-weight-light">Sign in to continue.</h3>
            <form class="pt-3" action="/login" method="POST">
              <div class="row g-3">
                <div class="col-12">
                    <label for="Email" class="form-label"><H3>Email</H3></label>
                    <input type="email" name="email" id="email" class="form-control">
                </div>
                <div class="col-12">
                    <label for="password" class="form-label"><H3>Password</H3></label>
                    <input type="password" name="password" id="password" class="form-control">
                </div>       
                <div class="col-12">
                    <button type="submit" class="btn btn-block btn-warning btn-lg auth-form-btn text-white">Login</button>
                </div> 
              </div>  
            </form>
              <div class="text-center mt-4 font-weight-bold">
                <h5><a href="#" class="text-primary">Forgot password?</a></h5>
              </div>
              <div class="text-center mt-4 font-weight-light">
                <h2>Don't have an account? <a href="/register" class="text-primary">Create</a></h2>
              </div>           
          </div>
        </div>
      </div>
    </div>
    <!-- content-wrapper ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>