<div class="container-scroller" style="margin-top: 70px">
  <div class="container-fluid page-body-wrapper full-page-wrapper">
    <div class="content-wrapper d-flex align-items-center auth px-0">
      <div class="row w-100 mx-0">
        <div class="col-lg-4 mx-auto">
          <div class="auth-form-light text-left py-5 px-4 px-sm-5">
            <% if (infoRegisterObj != '') { %>
            <div class="col-12 alert alert-success alert-dismissible">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <h3><%= infoRegisterObj %></h3>
            </div>
            <% } %> <% if (infoErrorsObj != '') { %>
            <div class="col-12 alert alert-danger alert-dismissible">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <h3><%= infoErrorsObj %></h3>
            </div>
            <% } %>
            <h1>New here?</h1>
            <h3 class="font-weight-light">Signing up is easy. It only takes a few steps!!!</h3>
            <hr />
            <form class="pt-3" action="/register" method="POST">
              <div class="row g-3">
                <div class="col-12">
                  <label for="email" class="form-label"><H3>Email</H3></label>
                  <input
                    style="font-size: 16px"
                    type="email"
                    name="email"
                    id="email"
                    class="form-control form-control-lg"
                    autofocus
                  />
                  <hr />
                </div>
                <div class="col-12">
                  <label for="password" class="form-label"><H3>Password</H3></label>
                  <input
                    style="font-size: 16px"
                    type="password"
                    name="password"
                    id="password"
                    class="form-control form-control-lg"
                  />
                  <hr />
                </div>
                <div class="col-12">
                  <label for="confirm-password" class="form-label"><H3>Confirm Password</H3></label>
                  <input
                    style="font-size: 16px"
                    type="password"
                    name="confirm-password"
                    id="confirm-password"
                    class="form-control form-control-lg"
                  />
                  <hr />
                </div>
                <div class="col-12">
                  <label for="name" class="form-label"><H3>Name</H3></label>
                  <input
                    style="font-size: 16px"
                    type="text"
                    name="name"
                    id="name"
                    class="form-control form-control-lg"
                  />
                  <hr />
                </div>
                <div class="col-12">
                  <label for="gender" class="form-label"><H3>Gender</H3></label>
                  <br />
                  <input
                    style="font-size: 16px"
                    type="radio"
                    id="male"
                    name="gender"
                    value="male"
                    class="form-label"
                  />
                  <label for="male"><h3>Male</h3></label><br />
                  <input
                    style="font-size: 16px"
                    type="radio"
                    id="female"
                    name="gender"
                    value="female"
                    class="form-label"
                  />
                  <label for="css"><h3>Female</h3></label><br />
                  <hr />
                </div>
                <div class="col-12">
                  <label for="phone" class="form-label"><H3>Phone</H3></label>
                  <input
                    style="font-size: 16px"
                    type="text"
                    name="phone"
                    id="phone"
                    class="form-control form-control-lg"
                  />
                  <hr />
                </div>
                <div class="col-12">
                  <label for="address" class="form-label"><H3>Address</H3></label>
                  <input
                    style="font-size: 16px"
                    type="text"
                    name="address"
                    id="address"
                    class="form-control form-control-lg"
                  />
                  <hr />
                </div>
                <div class="col-12">
                  <button
                    type="submit"
                    class="btn btn-block btn-warning btn-lg auth-form-btn text-white"
                  >
                    <h2>Register</h2>
                  </button>
                </div>
              </div>
              <div class="text-center mt-4 font-weight-bold">
                <h3>Already have an account? <a href="/login" class="text-primary">Login</a></h3>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- content-wrapper ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
